<div class="row p-3">
    <div class="col-12">
  <!-- Busqueda-->
  <gifs-search-box></gifs-search-box>
    </div>
    <br>  <br>  <br>  <br>

    <div class="col-4 pt-2 flex-direction-center">
      <div class="flex-container">
        <input (click)="sortGifsByDate()" type="button" [value]="orderDate">
    
        <select [(ngModel)]="selectedYear" (change)="filterByYear()">
          <option selected [value]="0">Selecciona un año para filtrar</option>
          <option [value]="2023">2023</option>
          <option [value]="2022">2022</option>
          <option [value]="2021">2021</option>
          <option [value]="2020">2020</option>
          <option [value]="2019">2019</option>
          <option [value]="2018">2018</option>
          <option [value]="2017">2017</option>
          <option [value]="2016">2016</option>
          <option [value]="2015">2015</option>
        </select>
      </div>
    </div>
    



  <br>
  <br>
  <br>
   

    <div >
    <!-- Listado de gifs-->
     <card-list [gifs]="gifs"></card-list>
   

</div>